.header a{
    text-decoration: none;
    font-size: larger;
    font-weight: 600;
    margin-left: 30px;
    color: violet;
}
.header img{
    width: 65px;
    border-radius: 50%;
}
.header-img{
background-image: url('./My\ project.jpg');
background-repeat: no-repeat;
height: 650px;
display: flex;
justify-content: center;
align-items: center;
}
.bg-title{

}